

                <!--우측 콘텐츠 헤더영역 -->
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>게시글정보관리</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="/Home/Index">Home</a>>
                            </li>
                            <li>
                                <a>게시글정보관리</a>>
                            </li>
                            <li class="active">
                                <strong>해당 게시글 정보확인</strong>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

                <!--우측 콘텐츠 영역 -->
                <div class="wrapper wrapper-content">

                    <form id="modifyForm" method="get" action="/article/delete">
                        <div class="ibox-content m-b-sm border-bottom">
                            <!-- 글제목영역 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">글제목</label>
                                        <input type="text" id="title" class="form-control" value="<%=article.contents %>">
                                    </div>
                                </div>
                            </div>

                            <!-- 글내용영역 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">글내용</label>
                                        <textarea class="form-control" id="contents" rows="10" cols="5"><%=article.contents %></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- 게시여부 영역하나만 표시 -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">게시여부</label>
                                        <select class="form-control" id="display">
                                            <option value="9" <% if(article.display=="9") {%>  selected <% }%> >선택</option>
                                            <option value="1" <% if(article.display=="1") {%> selected <% }%>>게시</option>
                                            <option value="0" <% if(article.display=="0") {%> selected <% }%>>게시안함</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">수정</button>
                            
                                <button type="sumbit" id="btnDelete" class="btn btn-danger">삭제</button>
                                <a href="/front/list.html" class="btn btn-info">목록</a>
                            </div>

                        </div>
                    </form>

                </div>

             