<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>게시글정보관리</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/Home/Index">Home</a>>
            </li>
            <li>
                <a>게시글정보관리</a>>
            </li>
            <li class="active">
                <strong>게시글목록조회</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>